body {
	color: $text;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
	font-weight: normal;
}

a,
a>i {
	color: $green-dark;

	&:visited {
		color: $green-dark;
	}

	&:hover,
	&:active {
		color: darken($green-dark, 15%);
		text-decoration: none;
	}
}

.breadcrumb {
	margin-bottom: 0;
}

.breadcrumb-item+.breadcrumb-item {
	&:before {
		content: "/";
		font-weight: bold;
		width: 20px;
		text-align: center;
	}
}

.linearcards {
	background-color: $green-light;
	padding-top: 30px;
	padding-bottom: 30px;

	.-card {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}

	.-vertival-info {
		width: 100%;

		.-subtitle {
			color: $grey-med;
			margin-bottom: 5px;
		}

		.-title {
			font-size: 1.4em;
			margin-bottom: 0;
		}
	}
}

.huge-icon {
	color: $green-dark;
	font-size: 60px;
	min-width: 60px;
	text-align: left;
	margin-right: 15px;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;

	&.-center {
		align-items: center;
    }
    &.-space-between {
		justify-content: space-between;
		align-items: center;
	}
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	&.-center {
		justify-content: center;
	}

	&.-space-between {
		justify-content: space-between;
		align-items: center;
	}
}

.card-title {
	.title {
		color: $green-dark;
		font-size: 1.5em;
		font-weight: normal;
	}
}

.divisor-top {
	margin-top: 25px;
	padding-top: 25px;
	border-top: 2px solid $grey-light;
}
